In [3]:
import pandas as pd
# 시리즈 만들기(정수형)
price = pd.Series([12000, 13000, 13000], name='가격')
price

0    12000
1    13000
2    13000
Name: 가격, dtype: int64

In [6]:
# 시리즈 만들기(문자열)
menu = pd.Series(['후라이드', '양념치킨', '양반후반'], name="메뉴")
menu

0    후라이드
1    양념치킨
2    양반후반
Name: 메뉴, dtype: object

In [7]:
# 시리즈 type 확인
type(menu)

pandas.core.series.Series

In [8]:
# 데이터프레임 만들기 (시리즈 -> 데이터프레임)
pd.DataFrame({
    "메뉴" : menu,
    "가격" : price
})

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

In [9]:
# 데이터프레임 만들기 pd.DataFrame({"컬럼명":데이터})
data = {
    "메뉴":['후라이드', '양념치킨', '양반후반'],
    "가격":[12000, 13000, 13000],
    "호수":['10호', '10호', '9호']
}
df = pd.DataFrame(data)
df

     메뉴     가격   호수
0  후라이드  12000  10호
1  양념치킨  13000  10호
2  양반후반  13000   9호

In [10]:
# 데이터 생성: csv파일 (data.csv) 생성 
import pandas as pd
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False)

In [11]:
# 데이터 불러오기
pd.read_csv('modudak.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [12]:
# 데이터 불러오기
pd.read_csv('modudak.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [13]:
# 데이터 불러오기
pd.read_csv('modudak.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [15]:
# 저장된 csv확인
new_df = pd.read_csv('modudak.csv')
new_df.head()

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300

In [17]:
# csv파일로 저장하기
df.to_csv('modudak2.csv', index=False)

In [19]:
pd.read_csv('modudak2.csv')

     메뉴     가격   호수
0  후라이드  12000  10호
1  양념치킨  13000  10호
2  양반후반  13000   9호

In [20]:
df['메뉴']

0    후라이드
1    양념치킨
2    양반후반
Name: 메뉴, dtype: object

In [21]:
df.메뉴

0    후라이드
1    양념치킨
2    양반후반
Name: 메뉴, dtype: object

In [22]:
df[['메뉴','가격']]

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

In [24]:
# 데이터 생성: csv파일 (data.csv) 생성 
import pandas as pd
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False)
df = pd.read_csv('modudak.csv'
)

In [25]:
df['index'] = ['a','b','c','d','e','f','g']
df = df.set_index(keys=['index'])
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호  1000
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [26]:
# 인덱싱 (행 전체)
# 후라이드
df.loc['a']

메뉴      후라이드
가격     12000
호수       10호
칼로리     1000
Name: a, dtype: object

In [55]:
df = pd.read_csv('modudak.csv'
                 )

In [56]:
#set_index(keys=[컬럼명])
df = df.set_index(keys=['메뉴'])
df

         가격   호수   칼로리
메뉴
후라이드  12000  10호  1000
양념치킨  13000  10호  1400
간장치킨  14000   9호  1600
마늘치킨  14000   9호  1800
파닭    14000  11호  1300
닭강정   15000  12호  1500
양반후반  13000  10호  1300

In [57]:
# reset_index(기본값 drop=False)
df=df.reset_index().copy()
df

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [58]:
df['할인율'] = 0.2
df

     메뉴     가격   호수   칼로리  할인율
0  후라이드  12000  10호  1000  0.2
1  양념치킨  13000  10호  1400  0.2
2  간장치킨  14000   9호  1600  0.2
3  마늘치킨  14000   9호  1800  0.2
4    파닭  14000  11호  1300  0.2
5   닭강정  15000  12호  1500  0.2
6  양반후반  13000  10호  1300  0.2

In [59]:
df['할인가'] = df['가격']*(1-df['할인율'])
df

     메뉴     가격   호수   칼로리  할인율      할인가
0  후라이드  12000  10호  1000  0.2   9600.0
1  양념치킨  13000  10호  1400  0.2  10400.0
2  간장치킨  14000   9호  1600  0.2  11200.0
3  마늘치킨  14000   9호  1800  0.2  11200.0
4    파닭  14000  11호  1300  0.2  11200.0
5   닭강정  15000  12호  1500  0.2  12000.0
6  양반후반  13000  10호  1300  0.2  10400.0

In [60]:
# 결측값으로 추가, 원산지 컬럼을 만들고 결측값(NaN)으로 대입
import numpy as np
df['원산지'] = np.nan
df

     메뉴     가격   호수   칼로리  할인율      할인가  원산지
0  후라이드  12000  10호  1000  0.2   9600.0  NaN
1  양념치킨  13000  10호  1400  0.2  10400.0  NaN
2  간장치킨  14000   9호  1600  0.2  11200.0  NaN
3  마늘치킨  14000   9호  1800  0.2  11200.0  NaN
4    파닭  14000  11호  1300  0.2  11200.0  NaN
5   닭강정  15000  12호  1500  0.2  12000.0  NaN
6  양반후반  13000  10호  1300  0.2  10400.0  NaN

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   호수      7 non-null      object
 3   칼로리     7 non-null      int64
 4   할인율     7 non-null      float64
 5   할인가     7 non-null      float64
 6   원산지     0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 520.0+ bytes

In [62]:
# 리스트 형태로 데이터(행) 추가
aiffel = ['아이펠치킨', 16000, '11호', 1200, 0.5, 8000, '국내산']
df.loc['new'] = aiffel
df

        메뉴     가격   호수   칼로리  할인율      할인가  원산지
0     후라이드  12000  10호  1000  0.2   9600.0  NaN
1     양념치킨  13000  10호  1400  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800  0.2  11200.0  NaN
4       파닭  14000  11호  1300  0.2  11200.0  NaN
5      닭강정  15000  12호  1500  0.2  12000.0  NaN
6     양반후반  13000  10호  1300  0.2  10400.0  NaN
new  아이펠치킨  16000  11호  1200  0.5   8000.0  국내산

In [65]:
# '노드2. 데이터 핸들링1'에서 마지막에 만든 new_modudak.csv 다시 만들기
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [67]:
pd.read_csv('new_modudak.csv', index_col= 'Unnamed: 0')

                   메뉴     가격   호수     칼로리  할인율      할인가  원산지
Unnamed: 0
0              황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1              승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2                간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3                마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4                  파닭  14000  11호  1300.0  0.2  11200.0  브라질
5                 닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6            양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new         [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10          [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN