In [1]:
#Q1
import bisect

# bisect는 정렬된 시퀀스를 관리하는 검색과 삽입을 위한 기능입니다. 따라서 이걸 활용하면 if문으로 길게 조건을 쓰지 않아도
# 범주를 표시하는데 유용합니다.
def grader(name, score): # 자리에 맞는 입력이 아닐때를 대비한 에러발생 코드 포함
    try:
        if type(name) != str or type(score) != int:
            print("이름은 문자로, 점수는 숫자로입력해주세요")
            raise # 이름이 문자가 아닐때나 점수가 숫자가 아닐때 에러를 발생시키고 except구문을 실행한다.
        elif score < 0 or score > 100:
            print('점수는 0~100사이를 넣어주세요')
            raise # 점수의 범위가 벗어날때 except구문 실행
        grade_point = [60, 65, 70, 75, 80, 85, 90, 95] # 점수를 구분하는 숫자 리스트
        grades = ['F','D','D+','C','C+','B','B+','A','A+'] # 점수에 해당하는 문자리스트
        i = bisect.bisect(grade_point, score)
        # bisect를 통해 95이상이면 8을 리턴하게된다.(같은 값일때는 해당값의 오른쪽) 따라서 graded의 8은 A+
        # 60보다 작으면 60왼쪽에 위치하고 0을 리턴한다.
        print(f'학생이름: {name}')
        print(f'점수:{score}점')
        print(f'학점:{grades[i]}')
    except:
        exit()

In [2]:
grader('김지한',99)

학생이름: 김지한
점수:99점
학점:A+

In [3]:
#Q2
def yearly_payment(monthly_payment):
    try:
        if type(monthly_payment) != int:
            raise Error
        income_point = [1200, 4600, 8800, 15000, 30000, 50000]
        tax_rate = [6, 15, 24, 35, 38, 40, 42]
        i = bisect.bisect_left(income_point, monthly_payment)
        #bisect_left는 위의 항목과 다르게 바로다음이 아니라 그 위치자체를 반환하므로 이상 이하를 표현하기 좋다.
        print(f'세전연봉:{monthly_payment}')
        print(f'세후연봉:{monthly_payment - monthly_payment*0.01*tax_rate[i]}')

    except:
        print('숫자로 입력해주세요')

In [4]:
yearly_payment(1200)

세전연봉:1200
세후연봉:1128.0

In [5]:
#Q3
def bus_fare(age, payment ):
    age_point = [8, 14, 20, 75]
    card_fee = ['무료','450','720','1200','무료']
    cash_fee = ['무료','450','1000','1300','무료']
    i = bisect.bisect(age_point, age)
    if payment == '카드':
       fee = card_fee[i]
    elif payment == '현금':
       fee = cash_fee[i]
    print(f'나이:{age}세')
    print(f'지불유형:{payment}')
    print(f'버스요금:{fee}원')

In [6]:
bus_fare(30,'현금')

나이:30세
지불유형:현금
버스요금:1300원

In [7]:
#04
import random
def rcp(my):
    try:
        computer = random.randint(0,2)
        game_list =['가위','바위','보']
        if my not in game_list:
            raise Error
        mynumber = game_list.index(my)

        print(f'나:{my}')
        print(f'컴퓨터:{game_list[computer]}')

        if computer == mynumber:
            print('비겼습니다.')
        elif (computer == 0 and mynumber == 2) or (computer ==1 and mynumber == 0) or (computer == 2 and mynumber == 1):
            print('컴퓨터승리!')
        else:
            print('나의승리!')
    except:
        print('올바르게 입력해주세요')

In [8]:
my = input('가위바위보 중의 하나를 입력해주세요:')
rcp(my)

올바르게 입력해주세요