1. 음주여부에 따라 건강검진 수치 차이가 있을까?
2. 신장과 허리둘레의 크기는 체중과 상관관계가 있을까?
 - 분석을 통해 가설을 검정해 봅니다.
3. 라이브리리 로드

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
# import koreanize_matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt

# 한글 폰트 설정
#mac
#plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)
#window
plt.rc('font', family='Malgun Gothic')

#그래프가 노트북 안에 보이게
%matplotlib inline

In [3]:
import os

if os.name == 'posix':
    plt.rc('font', family='AppleGothic')

elif os.name == 'nt':
    plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)

5. 데이터 로드

In [4]:
df = pd.read_csv('data/NHIS_OPEN_GJ_2017.CSV', encoding='cp949')
df.shape

(1000000, 34)

5.1 데이터 미리보기

In [5]:
df.head()

,기준년도,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
0,2017,1,1,13,46,170.0,65.0,91.0,1.0,1.2,...,25.0,3.0,0.0,1,NaN,NaN,NaN,NaN,1.0,20181126
1,2017,2,2,8,41,150.0,45.0,73.4,1.2,1.0,...,10.0,1.0,0.0,1,NaN,NaN,NaN,NaN,1.0,20181126
2,2017,3,1,8,45,175.0,75.0,94.0,1.0,0.8,...,136.0,1.0,0.0,1,NaN,NaN,NaN,NaN,0.0,20181126
3,2017,4,2,12,11,155.0,55.0,67.5,0.9,1.0,...,30.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,20181126
4,2017,5,1,8,41,175.0,75.0,93.0,1.5,1.5,...,68.0,3.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20181126

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 34 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   기준년도          1000000 non-null  int64
 1   가입자일련번호       1000000 non-null  int64
 2   성별코드          1000000 non-null  int64
 3   연령대코드(5세단위)   1000000 non-null  int64
 4   시도코드          1000000 non-null  int64
 5   신장(5Cm단위)     999738 non-null   float64
 6   체중(5Kg 단위)    999732 non-null   float64
 7   허리둘레          999560 non-null   float64
 8   시력(좌)         999712 non-null   float64
 9   시력(우)         999721 non-null   float64
 10  청력(좌)         999758 non-null   float64
 11  청력(우)         999757 non-null   float64
 12  수축기혈압         999924 non-null   float64
 13  이완기혈압         999923 non-null   float64
 14  식전혈당(공복혈당)    999957 non-null   float64
 15  총콜레스테롤        999957 non-null   float64
 16  트리글리세라이드      999957 non-null   float64
 17  HDL콜레스테롤      999956 non-null   float64
 18  LDL콜레스테롤      997101 non-null   float64
 19  혈색소           999944 non-null   float64
 20  요단백           995141 non-null   float64
 21  혈청크레아티닌       999956 non-null   float64
 22  (혈청지오티)AST    999958 non-null   float64
 23  (혈청지오티)ALT    999956 non-null   float64
 24  감마지티피         999955 non-null   float64
 25  흡연상태          999840 non-null   float64
 26  음주여부          999475 non-null   float64
 27  구강검진 수검여부     1000000 non-null  int64
 28  치아우식증유무       0 non-null        float64
 29  결손치유무         0 non-null        float64
 30  치아마모증유무       0 non-null        float64
 31  제3대구치(사랑니)이상  0 non-null        float64
 32  치석            398748 non-null   float64
 33  데이터공개일자       1000000 non-null  int64
dtypes: float64(27), int64(7)
memory usage: 259.4 MB

In [7]:
df_null = df.isnull().sum()
df_null

기준년도                  0
가입자일련번호               0
성별코드                  0
연령대코드(5세단위)           0
시도코드                  0
신장(5Cm단위)           262
체중(5Kg 단위)          268
허리둘레                440
시력(좌)               288
시력(우)               279
청력(좌)               242
청력(우)               243
수축기혈압                76
이완기혈압                77
식전혈당(공복혈당)           43
총콜레스테롤               43
트리글리세라이드             43
HDL콜레스테롤             44
LDL콜레스테롤           2899
혈색소                  56
요단백                4859
혈청크레아티닌              44
(혈청지오티)AST           42
(혈청지오티)ALT           44
감마지티피                45
흡연상태                160
음주여부                525
구강검진 수검여부             0
치아우식증유무         1000000
결손치유무           1000000
치아마모증유무         1000000
제3대구치(사랑니)이상    1000000
치석               601252
데이터공개일자               0
dtype: int64

In [8]:
df_null = df_null.reset_index()
df_null.columns = ['컬럼명', '결측치수']
df_null

             컬럼명     결측치수
0           기준년도        0
1        가입자일련번호        0
2           성별코드        0
3    연령대코드(5세단위)        0
4           시도코드        0
5      신장(5Cm단위)      262
6     체중(5Kg 단위)      268
7           허리둘레      440
8          시력(좌)      288
9          시력(우)      279
10         청력(좌)      242
11         청력(우)      243
12         수축기혈압       76
13         이완기혈압       77
14    식전혈당(공복혈당)       43
15        총콜레스테롤       43
16      트리글리세라이드       43
17      HDL콜레스테롤       44
18      LDL콜레스테롤     2899
19           혈색소       56
20           요단백     4859
21       혈청크레아티닌       44
22    (혈청지오티)AST       42
23    (혈청지오티)ALT       44
24         감마지티피       45
25          흡연상태      160
26          음주여부      525
27     구강검진 수검여부        0
28       치아우식증유무  1000000
29         결손치유무  1000000
30       치아마모증유무  1000000
31  제3대구치(사랑니)이상  1000000
32            치석   601252
33       데이터공개일자        0

In [9]:
df_null_top = df_null.sort_values(by='결측치수', ascending=False).head(5)
df_null_top

             컬럼명     결측치수
29         결손치유무  1000000
31  제3대구치(사랑니)이상  1000000
30       치아마모증유무  1000000
28       치아우식증유무  1000000
32            치석   601252

In [10]:
drop_columns = df_null_top['컬럼명'].tolist()
drop_columns

['결손치유무', '제3대구치(사랑니)이상', '치아마모증유무', '치아우식증유무', '치석']

In [11]:
print(df.shape)
df = df.drop(drop_columns, axis=1)
print(df.shape)

(1000000, 34)
(1000000, 29)

In [12]:
df = df.drop("데이터공개일자", axis=1)
print(df.shape)

(1000000, 28)

8. 일부데이터 요약하기

In [13]:
# 여러컬럼을 가져옵니다.
df[["(혈청지오티)ALT", "(혈청지오티)AST"]]  # 컬럼명에 괄호가 있으면 이렇게 가져올 수 없습니다.

        (혈청지오티)ALT  (혈청지오티)AST
0             41.0        19.0
1             13.0        16.0
2             62.0        45.0
3             24.0        21.0
4             62.0        37.0
...            ...         ...
999995        11.0        18.0
999996        11.0        21.0
999997        13.0        23.0
999998        30.0        28.0
999999        20.0        21.0

[1000000 rows x 2 columns]

In [14]:
df[["(혈청지오티)ALT"]]  # 하나라도 괄호두개를 넣으면 데이타프레임형태가 됨

        (혈청지오티)ALT
0             41.0
1             13.0
2             62.0
3             24.0
4             62.0
...            ...
999995        11.0
999996        11.0
999997        13.0
999998        30.0
999999        20.0

[1000000 rows x 1 columns]

In [15]:
df[["(혈청지오티)ALT", "(혈청지오티)AST"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   (혈청지오티)ALT  999956 non-null  float64
 1   (혈청지오티)AST  999958 non-null  float64
dtypes: float64(2)
memory usage: 15.3 MB

In [16]:
df[["(혈청지오티)ALT", "(혈청지오티)AST"]].describe()  # 이상치가 있다는것을 알수있음 max값 이상

          (혈청지오티)ALT     (혈청지오티)AST
count  999956.000000  999958.000000
mean       25.859343      26.075068
std        25.814268      24.437136
min         1.000000       1.000000
25%        15.000000      19.000000
50%        20.000000      23.000000
75%        30.000000      28.000000
max      6710.000000    9999.000000

In [17]:
df[["(혈청지오티)ALT", "(혈청지오티)AST"]].describe().T

               count       mean        std  min   25%   50%   75%     max
(혈청지오티)ALT  999956.0  25.859343  25.814268  1.0  15.0  20.0  30.0  6710.0
(혈청지오티)AST  999958.0  26.075068  24.437136  1.0  19.0  23.0  28.0  9999.0

9.value_counts 로 값 집계하기

In [18]:
df['성별코드'].value_counts()

성별코드
1    531172
2    468828
Name: count, dtype: int64

In [19]:
df['흡연상태'].value_counts()

흡연상태
1.0    608587
3.0    215061
2.0    176192
Name: count, dtype: int64

10. groupby 와 pivot_table 사용하기
value_counts와 달리 두개이상의 칼럼을 분석할때 씀

In [20]:
df.groupby?

In [21]:
df.groupby('성별코드').mean()  # 모든값

,기준년도,가입자일련번호,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진 수검여부
성별코드,,,,,,,,,,,,,,,,,,,,,
1,2017.0,499946.580386,10.324381,34.15184,168.516441,70.211016,85.171843,1.035268,1.034448,1.032813,...,112.716565,15.216352,1.102723,0.975555,28.150818,30.763525,49.446249,2.058548,0.670136,0.433298
2,2017.0,500061.589758,10.783424,33.25853,155.078899,55.701656,77.061441,0.915023,0.910340,1.031968,...,113.243661,13.099480,1.087451,0.738854,23.723238,20.302868,23.396111,1.094082,0.300790,0.359603

In [22]:
df.groupby('성별코드').mean()['허리둘레']  # 허리둘레만

성별코드
1    85.171843
2    77.061441
Name: 허리둘레, dtype: float64

In [23]:
df.groupby('성별코드').count()['가입자일련번호']  #유니크한 값이라 카운트 가능

성별코드
1    531172
2    468828
Name: 가입자일련번호, dtype: int64

In [24]:
#성별코드와 음주여부로 그룹화하고 갯수를 샌후 가입자일련번호만 가져옵니다.

df.groupby(['성별코드', '음주여부']).count()['가입자일련번호']

성별코드  음주여부
1     0.0     175150
      1.0     355826
2     0.0     327579
      1.0     140920
Name: 가입자일련번호, dtype: int64

In [25]:
df.groupby(['성별코드', '음주여부'])['가입자일련번호'].count()  # 위와 같은 결과
# 성별코드와 음주여부로 그룹화하고 갯수를 샌후 가입자일련번호만 가져온 다음에 카운트

성별코드  음주여부
1     0.0     175150
      1.0     355826
2     0.0     327579
      1.0     140920
Name: 가입자일련번호, dtype: int64

In [26]:
df.groupby(['성별코드', '음주여부'])['감마지티피'].mean()  # 간수치하고 관련
#음주자가 높게나옴

성별코드  음주여부
1     0.0     34.710544
      1.0     56.707919
2     0.0     22.660238
      1.0     25.115149
Name: 감마지티피, dtype: float64

In [27]:
# 성별코드와 음주여부로 감마지티피의 요약수치
df.groupby(['성별코드', '음주여부'])['감마지티피'].describe()
# max값에 이상치가있음

              count       mean        std  min   25%   50%   75%    max
성별코드 음주여부
1    0.0   175139.0  34.710544  37.715218  1.0  18.0  25.0  38.0  999.0
     1.0   355819.0  56.707919  69.039084  1.0  24.0  37.0  63.0  999.0
2    0.0   327559.0  22.660238  25.181300  1.0  13.0  17.0  24.0  999.0
     1.0   140913.0  25.115149  35.870812  1.0  13.0  17.0  25.0  999.0

In [ ]:
df.groupby(['성별코드', '음주여부'])['감마지티피'].agg(['count', 'mean', 'median', 'min', 'max'])

In [ ]:
df.pivot_table(index='음주여부')  # 모든 데이타를 평균내줌

In [ ]:
df.groupby('음주여부').mean()  # 위와 같은 결과

In [ ]:
df.pivot_table(index='음주여부', values='감마지티피')  # 감마지티피만 평균내줌

In [ ]:
df.pivot_table(index='음주여부', values='가입자일련번호', aggfunc="count")  # values 칼럼을 aggfunc으로 집계

In [ ]:
# gropuby와 pivot_table의 차이
# groupby는 결과가 (values를 지정해도) 시리즈로 나오고 pivot_table은 결과가 데이터프레임으로 나옴

In [ ]:
df.pivot_table(index='음주여부', values='감마지티피', aggfunc='mean')

In [ ]:
pd.pivot_table(df, index='음주여부', values='감마지티피')  #aggfunc 지정안하면 평균

In [ ]:
pd.pivot_table(df, index='음주여부', values='감마지티피', aggfunc='describe')  #aggfunc에 describe가능

In [ ]:
pd.pivot_table(df, index=['성별코드', '음주여부'], values='감마지티피',
               aggfunc=['describe', 'mean'])
#grouby처럼 index 여러개 지정가능

In [ ]:
h = df.hist(figsize=(12, 12))  # 판다스 시각화 변수에 대입하면 문자출력없이 바로 결과가 나옴

11.2 슬라이싱 사용해 히스토그램 그리기

In [ ]:
h = df.iloc[:, :12].hist(figsize=(12, 12))  # iloc로  12개의 칼럼만

In [ ]:
h = df.iloc[:, 12:24].hist(figsize=(12, 12), bins=100)  # iloc로  12개의 칼럼만

In [ ]:
h = df.iloc[:, 24:].hist(figsize=(12, 12), bins=100)  # iloc로  12개의 칼럼만

12 샘플데이터 추출하기

In [ ]:
# seaborn 은 그래프 내부에서 수학적 연산을 해서 데이타가 많아지면 느려짐
# 따라서 샘플을 사용함
df_sample = df.sample(1000, random_state=1)  # random_state=1 은 랜덤값을 고정시킴
df_sample.shape

13. 데이타 시각화 도구 seaborn사용하기
간단하게 고급통계 연산을 할수있다

14.범주형테이터시각화(문자형등)
countplot - 음주여부

In [ ]:
h = df['음주여부'].value_counts().plot().bar(x='음주여부', height='흡연상태')

In [ ]:
h = sns.countplot(data=df, x='음주여부')

14.2 hue옵션사용하기

In [ ]:
sns.set(font_scale=1.5, font='Malgun Gothic')  # 폰트사이즈
h = sns.countplot(data=df, x='음주여부', hue='성별코드')