## 👍👍1주차 미션 목적 - 데이터 사이언스를 위한 파이썬과 판다스 동기부여

📌Q1. 여러분은 파이썬을 통해 설문조사 문항의 응답내역을 분석하게 되었습니다. 문항별 응답내용에는 하나의 응답만 할 수 있는 single choice 문제와 여러 응답을 선택할 수 있는 multiple choice 문제가 있습니다. 2개를 구분하기 위해 single choice 문항 번호에 "_"를 표기하지 않기로 했습니다.

문항별 응답내역이 'question'에 담겨 있을 때, 조건문과 반복문을 사용하여 아래와 같은 결과가 출력되도록 코드를 작성해보세요.

✅⚡  미션분석

1. 설문내역을 분석하는 입장이라고 가정할 때, 설문 제작단계 에서 문항별 다문항의 여부의 문서가 이미 있을 것이므로, 그것을 가정해 다문항의 수가 기입된 자료형을 만듬
 - 간단히 리스트로 만들수있으나, 자료형 자체에 대한 이해도를 높이기위해 딕션어리로 만듬

2. 응답내역의 자료형은  유저기입을 기반으로 하므로, 복잡해서 재정리가 필요한 시나리오라고 가정하고 입력자료형을 만듬
싱글문제는 Yes/No.다문항은 객관식 질문으로 가정하고 리스트로 만듬. 대답을 안한 문항의경우 None으로 처리.

3. ⚡ (추가기능) 다문항의 객관식 문항에서도 응답자가 대답을 건너뛴 문항이 있다고 가정하고 그부분을 건너뛰고 출력하는 기능을 만들어봄
Q6_6번을 기입하지 않았다고 가정함

4. (목표) 따라서 명확하게 어떠한 문제에 응답했는지, 알아보기 힘든 응답자료에 대해서, 설문제작단계의 자료와 비교해 대답한 문항들을 출력하는 함수를 만드는 시나리오를 상정함

5. (구현) 싱글문항일 경우와 다문항일 경우를 분기해 서로다른 처리를 하도록 조건문을 만듬

In [7]:
#Q1

length_of_question = { 'Q1':'single','Q2':'single','Q3':'single','Q4':'single','Q5':'single','Q6': 13, 'Q7': 7,'Q8':'single','Q9':'single','Q10': 3}
answered_question = { 'Q1': None,'Q2':'Yes','Q3':'No','Q4':'Yes','Q5':'Yes','Q6': [1, 2, 1, 4, 2,None, 3, 5, 1, 2, 4, 3, 1], 'Q7': [2, 3, 1, 2, 3, 5, 4],'Q8':'single','Q9':'single','Q10': [ 3, 1, 1] }

def question_to_list(quiz_list : dict)->list:

    question = []

    for index, answer in answered_question.items():
        if answer == None:
            continue
        if length_of_question[index] == 'single':
            question.append(index)
        else:
            for idx, ans in enumerate(answer):
                if ans == None:
                    continue
                else:
                    question.append(f'{index}_{idx+1}')
    return question

print(question_to_list(answered_question))

['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2', 'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2', 'Q10_3']

📌Q2. 한스 로슬링(Hans Rosling, 1948년 7월 27일 ~ 2017년 2월 7일)은 스웨덴의 의사이자 통계학자로 비영리 벤처 갭마인더 재단의 공동설립자이기도 합니다. 빅데이터를 가장 잘 활용하는 보건 통계학자로 알려져 있습니다. 베스트셀러 책인 "팩트풀니스" 저자이기도 합니다. 갭마인더 사이트에서는 연도별, 국가별 GDP와 기대수명 데이터를 제공하고 있는데, 대표적으로 파이썬 라이브러리 중 'seaborn'에서 제공되는 예제 데이터가 있습니다. 오늘은 이 데이터를 활용해 문제를 풀어보겠습니다.
다음의 데이터는 연도, 국가별 기대수명을 나타내고 있는 데이터 입니다. 2011년 부터의 연도별, 국가별 평균 기대수명을 구해주세요. (2011년도 포함되게 구합니다.)

[필수 조건] groupby 나 pivot_table을 활용합니다. groupby 로 구할 때 unstack()이라는 기능을 사용하여 아래와 같이 컬럼에 인덱스 값을 올려서 표기할 수 있습니다.
만약 행에는 '연도'가, 열에 '국가'가 들어있고 수치 데이터의 결과값이 아래와 같다면, 출력형태는 조금 달라도 괜찮습니다.

In [9]:
#Q2
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [10]:
filtered_df = df[(df['Year'] >= 2000) & (df['Year'] <= 2010)]
pd.pivot_table(filtered_df, values='Life_Expectancy' , index='Year', columns= 'Country')

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6

In [12]:
df2 = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
filtered_df2 = df2[(df2['Year'] >= 2000) & (df2['Year'] <= 2010)]
filtered_df2.groupby(['Year','Country'])['Life_Expectancy'].mean().unstack()

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6

In [47]:
#Q4
df2 = pd.read_csv('data/외교부_외교일지(csv)_20220228.csv')
df2

,대상 국가명,시작일,종료일,일지 제목
0,"한국, 호주, 중국, 태국, 미국, 베트남",2020-01-01,2020-01-01,"호주 정부, 중화인민공화국 정부, 대한민국정부, 타이왕국 정부, 미합중국 정부 그리..."
1,"한국, 베트남",2020-01-01,2020-01-01,대한민국과 베트남사회주의공화국 간의 쌀에 대한 저율관세할당물량에 관한 교환각서 발효...
2,"한국, 미국",2020-01-01,2020-01-01,대한민국과 미합중국 간의 쌀에 대한 저율관세할당물량에 관한 교환각서 발효(조약 제2...
3,"한국, 미국",2020-01-01,2020-01-01,한국-미국 북핵수석대표 간 전화협의
4,북한,2020-01-01,2020-01-01,"북한, 조선노동당 중앙위원회 제7기 5차전원회의(12.28.-31.) 결과 발표"
...,...,...,...,...
697,"한국, 터키",2020-12-23,2020-12-23,이원익 주터키대사 신임장 제정(Ankara)
698,NaN,2020-12-25,2020-12-25,최종문 외교부 제2차관 취임
699,NEACHS,2020-12-29,2020-12-29,동북아 방역·보건 협력체(NEACHS) 출범 트랙1.5 실무회의(화상회의)
700,"한국, 러시아",2020-12-29,2020-12-29,한국-러시아 북핵수석대표 간 전화협의
701,"한국, 중국",2020-12-29,2020-12-29,"노규덕 외교부 한반도평화교섭본부장, Wu Jianghao(우장하오) 중국 외교부 부..."

In [51]:

pd.pivot_table(df2, index= '시작일', values='종료일', columns= '대상 국가명')

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
|