## ğŸ‘ğŸ‘1ì£¼ì°¨ ë¯¸ì…˜ ëª©ì  - ë°ì´í„° ì‚¬ì´ì–¸ìŠ¤ë¥¼ ìœ„í•œ íŒŒì´ì¬ê³¼ íŒë‹¤ìŠ¤ ë™ê¸°ë¶€ì—¬

ğŸ“ŒQ1. ì—¬ëŸ¬ë¶„ì€ íŒŒì´ì¬ì„ í†µí•´ ì„¤ë¬¸ì¡°ì‚¬ ë¬¸í•­ì˜ ì‘ë‹µë‚´ì—­ì„ ë¶„ì„í•˜ê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤. ë¬¸í•­ë³„ ì‘ë‹µë‚´ìš©ì—ëŠ” í•˜ë‚˜ì˜ ì‘ë‹µë§Œ í•  ìˆ˜ ìˆëŠ” single choice ë¬¸ì œì™€ ì—¬ëŸ¬ ì‘ë‹µì„ ì„ íƒí•  ìˆ˜ ìˆëŠ” multiple choice ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤. 2ê°œë¥¼ êµ¬ë¶„í•˜ê¸° ìœ„í•´ single choice ë¬¸í•­ ë²ˆí˜¸ì— "_"ë¥¼ í‘œê¸°í•˜ì§€ ì•Šê¸°ë¡œ í–ˆìŠµë‹ˆë‹¤.

ë¬¸í•­ë³„ ì‘ë‹µë‚´ì—­ì´ 'question'ì— ë‹´ê²¨ ìˆì„ ë•Œ, ì¡°ê±´ë¬¸ê³¼ ë°˜ë³µë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ê²°ê³¼ê°€ ì¶œë ¥ë˜ë„ë¡ ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.

âœ…âš¡  ë¯¸ì…˜ë¶„ì„

1. ì„¤ë¬¸ë‚´ì—­ì„ ë¶„ì„í•˜ëŠ” ì…ì¥ì´ë¼ê³  ê°€ì •í•  ë•Œ, ì„¤ë¬¸ ì œì‘ë‹¨ê³„ ì—ì„œ ë¬¸í•­ë³„ ë‹¤ë¬¸í•­ì˜ ì—¬ë¶€ì˜ ë¬¸ì„œê°€ ì´ë¯¸ ìˆì„ ê²ƒì´ë¯€ë¡œ, ê·¸ê²ƒì„ ê°€ì •í•´ ë‹¤ë¬¸í•­ì˜ ìˆ˜ê°€ ê¸°ì…ëœ ìë£Œí˜•ì„ ë§Œë“¬
 - ê°„ë‹¨íˆ ë¦¬ìŠ¤íŠ¸ë¡œ ë§Œë“¤ìˆ˜ìˆìœ¼ë‚˜, ìë£Œí˜• ìì²´ì— ëŒ€í•œ ì´í•´ë„ë¥¼ ë†’ì´ê¸°ìœ„í•´ ë”•ì…˜ì–´ë¦¬ë¡œ ë§Œë“¬

2. ì‘ë‹µë‚´ì—­ì˜ ìë£Œí˜•ì€  ìœ ì €ê¸°ì…ì„ ê¸°ë°˜ìœ¼ë¡œ í•˜ë¯€ë¡œ, ë³µì¡í•´ì„œ ì¬ì •ë¦¬ê°€ í•„ìš”í•œ ì‹œë‚˜ë¦¬ì˜¤ë¼ê³  ê°€ì •í•˜ê³  ì…ë ¥ìë£Œí˜•ì„ ë§Œë“¬
ì‹±ê¸€ë¬¸ì œëŠ” Yes/No.ë‹¤ë¬¸í•­ì€ ê°ê´€ì‹ ì§ˆë¬¸ìœ¼ë¡œ ê°€ì •í•˜ê³  ë¦¬ìŠ¤íŠ¸ë¡œ ë§Œë“¬. ëŒ€ë‹µì„ ì•ˆí•œ ë¬¸í•­ì˜ê²½ìš° Noneìœ¼ë¡œ ì²˜ë¦¬.

3. âš¡ (ì¶”ê°€ê¸°ëŠ¥) ë‹¤ë¬¸í•­ì˜ ê°ê´€ì‹ ë¬¸í•­ì—ì„œë„ ì‘ë‹µìê°€ ëŒ€ë‹µì„ ê±´ë„ˆë›´ ë¬¸í•­ì´ ìˆë‹¤ê³  ê°€ì •í•˜ê³  ê·¸ë¶€ë¶„ì„ ê±´ë„ˆë›°ê³  ì¶œë ¥í•˜ëŠ” ê¸°ëŠ¥ì„ ë§Œë“¤ì–´ë´„
Q6_6ë²ˆì„ ê¸°ì…í•˜ì§€ ì•Šì•˜ë‹¤ê³  ê°€ì •í•¨

4. (ëª©í‘œ) ë”°ë¼ì„œ ëª…í™•í•˜ê²Œ ì–´ë– í•œ ë¬¸ì œì— ì‘ë‹µí–ˆëŠ”ì§€, ì•Œì•„ë³´ê¸° í˜ë“  ì‘ë‹µìë£Œì— ëŒ€í•´ì„œ, ì„¤ë¬¸ì œì‘ë‹¨ê³„ì˜ ìë£Œì™€ ë¹„êµí•´ ëŒ€ë‹µí•œ ë¬¸í•­ë“¤ì„ ì¶œë ¥í•˜ëŠ” í•¨ìˆ˜ë¥¼ ë§Œë“œëŠ” ì‹œë‚˜ë¦¬ì˜¤ë¥¼ ìƒì •í•¨

5. (êµ¬í˜„) ì‹±ê¸€ë¬¸í•­ì¼ ê²½ìš°ì™€ ë‹¤ë¬¸í•­ì¼ ê²½ìš°ë¥¼ ë¶„ê¸°í•´ ì„œë¡œë‹¤ë¥¸ ì²˜ë¦¬ë¥¼ í•˜ë„ë¡ ì¡°ê±´ë¬¸ì„ ë§Œë“¬

In [7]:
#Q1

length_of_question = { 'Q1':'single','Q2':'single','Q3':'single','Q4':'single','Q5':'single','Q6': 13, 'Q7': 7,'Q8':'single','Q9':'single','Q10': 3}
answered_question = { 'Q1': None,'Q2':'Yes','Q3':'No','Q4':'Yes','Q5':'Yes','Q6': [1, 2, 1, 4, 2,None, 3, 5, 1, 2, 4, 3, 1], 'Q7': [2, 3, 1, 2, 3, 5, 4],'Q8':'single','Q9':'single','Q10': [ 3, 1, 1] }

def question_to_list(quiz_list : dict)->list:

    question = []

    for index, answer in answered_question.items():
        if answer == None:
            continue
        if length_of_question[index] == 'single':
            question.append(index)
        else:
            for idx, ans in enumerate(answer):
                if ans == None:
                    continue
                else:
                    question.append(f'{index}_{idx+1}')
    return question

print(question_to_list(answered_question))

['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2', 'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2', 'Q10_3']

ğŸ“ŒQ2. í•œìŠ¤ ë¡œìŠ¬ë§(Hans Rosling, 1948ë…„ 7ì›” 27ì¼ ~ 2017ë…„ 2ì›” 7ì¼)ì€ ìŠ¤ì›¨ë´ì˜ ì˜ì‚¬ì´ì í†µê³„í•™ìë¡œ ë¹„ì˜ë¦¬ ë²¤ì²˜ ê°­ë§ˆì¸ë” ì¬ë‹¨ì˜ ê³µë™ì„¤ë¦½ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ë¹…ë°ì´í„°ë¥¼ ê°€ì¥ ì˜ í™œìš©í•˜ëŠ” ë³´ê±´ í†µê³„í•™ìë¡œ ì•Œë ¤ì ¸ ìˆìŠµë‹ˆë‹¤. ë² ìŠ¤íŠ¸ì…€ëŸ¬ ì±…ì¸ "íŒ©íŠ¸í’€ë‹ˆìŠ¤" ì €ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ê°­ë§ˆì¸ë” ì‚¬ì´íŠ¸ì—ì„œëŠ” ì—°ë„ë³„, êµ­ê°€ë³„ GDPì™€ ê¸°ëŒ€ìˆ˜ëª… ë°ì´í„°ë¥¼ ì œê³µí•˜ê³  ìˆëŠ”ë°, ëŒ€í‘œì ìœ¼ë¡œ íŒŒì´ì¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì¤‘ 'seaborn'ì—ì„œ ì œê³µë˜ëŠ” ì˜ˆì œ ë°ì´í„°ê°€ ìˆìŠµë‹ˆë‹¤. ì˜¤ëŠ˜ì€ ì´ ë°ì´í„°ë¥¼ í™œìš©í•´ ë¬¸ì œë¥¼ í’€ì–´ë³´ê² ìŠµë‹ˆë‹¤.
ë‹¤ìŒì˜ ë°ì´í„°ëŠ” ì—°ë„, êµ­ê°€ë³„ ê¸°ëŒ€ìˆ˜ëª…ì„ ë‚˜íƒ€ë‚´ê³  ìˆëŠ” ë°ì´í„° ì…ë‹ˆë‹¤. 2011ë…„ ë¶€í„°ì˜ ì—°ë„ë³„, êµ­ê°€ë³„ í‰ê·  ê¸°ëŒ€ìˆ˜ëª…ì„ êµ¬í•´ì£¼ì„¸ìš”. (2011ë…„ë„ í¬í•¨ë˜ê²Œ êµ¬í•©ë‹ˆë‹¤.)

[í•„ìˆ˜ ì¡°ê±´] groupby ë‚˜ pivot_tableì„ í™œìš©í•©ë‹ˆë‹¤. groupby ë¡œ êµ¬í•  ë•Œ unstack()ì´ë¼ëŠ” ê¸°ëŠ¥ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ì»¬ëŸ¼ì— ì¸ë±ìŠ¤ ê°’ì„ ì˜¬ë ¤ì„œ í‘œê¸°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
ë§Œì•½ í–‰ì—ëŠ” 'ì—°ë„'ê°€, ì—´ì— 'êµ­ê°€'ê°€ ë“¤ì–´ìˆê³  ìˆ˜ì¹˜ ë°ì´í„°ì˜ ê²°ê³¼ê°’ì´ ì•„ë˜ì™€ ê°™ë‹¤ë©´, ì¶œë ¥í˜•íƒœëŠ” ì¡°ê¸ˆ ë‹¬ë¼ë„ ê´œì°®ìŠµë‹ˆë‹¤.

In [9]:
#Q2
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [10]:
filtered_df = df[(df['Year'] >= 2000) & (df['Year'] <= 2010)]
pd.pivot_table(filtered_df, values='Life_Expectancy' , index='Year', columns= 'Country')

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6

In [12]:
df2 = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
filtered_df2 = df2[(df2['Year'] >= 2000) & (df2['Year'] <= 2010)]
filtered_df2.groupby(['Year','Country'])['Life_Expectancy'].mean().unstack()

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6

In [47]:
#Q4
df2 = pd.read_csv('data/ì™¸êµë¶€_ì™¸êµì¼ì§€(csv)_20220228.csv')
df2

,ëŒ€ìƒ êµ­ê°€ëª…,ì‹œì‘ì¼,ì¢…ë£Œì¼,ì¼ì§€ ì œëª©
0,"í•œêµ­, í˜¸ì£¼, ì¤‘êµ­, íƒœêµ­, ë¯¸êµ­, ë² íŠ¸ë‚¨",2020-01-01,2020-01-01,"í˜¸ì£¼ ì •ë¶€, ì¤‘í™”ì¸ë¯¼ê³µí™”êµ­ ì •ë¶€, ëŒ€í•œë¯¼êµ­ì •ë¶€, íƒ€ì´ì™•êµ­ ì •ë¶€, ë¯¸í•©ì¤‘êµ­ ì •ë¶€ ê·¸ë¦¬..."
1,"í•œêµ­, ë² íŠ¸ë‚¨",2020-01-01,2020-01-01,ëŒ€í•œë¯¼êµ­ê³¼ ë² íŠ¸ë‚¨ì‚¬íšŒì£¼ì˜ê³µí™”êµ­ ê°„ì˜ ìŒ€ì— ëŒ€í•œ ì €ìœ¨ê´€ì„¸í• ë‹¹ë¬¼ëŸ‰ì— ê´€í•œ êµí™˜ê°ì„œ ë°œíš¨...
2,"í•œêµ­, ë¯¸êµ­",2020-01-01,2020-01-01,ëŒ€í•œë¯¼êµ­ê³¼ ë¯¸í•©ì¤‘êµ­ ê°„ì˜ ìŒ€ì— ëŒ€í•œ ì €ìœ¨ê´€ì„¸í• ë‹¹ë¬¼ëŸ‰ì— ê´€í•œ êµí™˜ê°ì„œ ë°œíš¨(ì¡°ì•½ ì œ2...
3,"í•œêµ­, ë¯¸êµ­",2020-01-01,2020-01-01,í•œêµ­-ë¯¸êµ­ ë¶í•µìˆ˜ì„ëŒ€í‘œ ê°„ ì „í™”í˜‘ì˜
4,ë¶í•œ,2020-01-01,2020-01-01,"ë¶í•œ, ì¡°ì„ ë…¸ë™ë‹¹ ì¤‘ì•™ìœ„ì›íšŒ ì œ7ê¸° 5ì°¨ì „ì›íšŒì˜(12.28.-31.) ê²°ê³¼ ë°œí‘œ"
...,...,...,...,...
697,"í•œêµ­, í„°í‚¤",2020-12-23,2020-12-23,ì´ì›ìµ ì£¼í„°í‚¤ëŒ€ì‚¬ ì‹ ì„ì¥ ì œì •(Ankara)
698,NaN,2020-12-25,2020-12-25,ìµœì¢…ë¬¸ ì™¸êµë¶€ ì œ2ì°¨ê´€ ì·¨ì„
699,NEACHS,2020-12-29,2020-12-29,ë™ë¶ì•„ ë°©ì—­Â·ë³´ê±´ í˜‘ë ¥ì²´(NEACHS) ì¶œë²” íŠ¸ë™1.5 ì‹¤ë¬´íšŒì˜(í™”ìƒíšŒì˜)
700,"í•œêµ­, ëŸ¬ì‹œì•„",2020-12-29,2020-12-29,í•œêµ­-ëŸ¬ì‹œì•„ ë¶í•µìˆ˜ì„ëŒ€í‘œ ê°„ ì „í™”í˜‘ì˜
701,"í•œêµ­, ì¤‘êµ­",2020-12-29,2020-12-29,"ë…¸ê·œë• ì™¸êµë¶€ í•œë°˜ë„í‰í™”êµì„­ë³¸ë¶€ì¥, Wu Jianghao(ìš°ì¥í•˜ì˜¤) ì¤‘êµ­ ì™¸êµë¶€ ë¶€..."

In [51]:

pd.pivot_table(df2, index= 'ì‹œì‘ì¼', values='ì¢…ë£Œì¼', columns= 'ëŒ€ìƒ êµ­ê°€ëª…')

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
|