In [1]:
# 현재경로
%pwd

'D:\\intellij project\\python_study\\파이썬으로 시작하는 데이터 사이언스'

In [2]:
import os

os.getcwd()

'D:\\intellij project\\python_study\\파이썬으로 시작하는 데이터 사이언스'

In [12]:
# glob 써보기

from glob import glob
import pandas as pd

file_name = glob("data/*")
print(file_name[2])

data\도로교통공단_월별 주야별 교통사고 통계_20221231.csv

In [6]:
pd.read_csv('data/도로교통공단_월별 주야별 교통사고 통계_20221231.csv', encoding='cp949')

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   9588    90  2546  10464     792
1     1  야   6306   103  1690   6795     504
2     2  주   7575    78  2001   8228     657
3     2  야   4787    83  1300   4981     421
4     3  주   8322    96  2167   8783     600
5     3  야   5298    87  1473   5393     437
6     4  주  10472   112  2798  11475     961
7     4  야   6000   104  1680   6398     487
8     5  주  11749   136  3198  12531    1107
9     5  야   6316    99  1674   6676     586
10    6  주  10377   139  2746  11055     940
11    6  야   6104    92  1692   6396     600
12    7  주  10780   120  2802  11993    1032
13    7  야   6335   121  1697   6684     604
14    8  주  10360   124  2669  11560     953
15    8  야   6136   118  1632   6598     542
16    9  주  10799   146  2754  11810     967
17    9  야   6417   111  1694   6805     614
18   10  주  11590   168  3083  12795    1097
19   10  야   6918   117  1800   7384     616
20   11  주  10944   159  2838  11474    1017
21   11  야   6634    98  1706   7087     621
22   12  주  10416   133  2510  11547     920
23   12  야   6613   101  1565   7518     583

## 여러파일을 한번에 로드하는 방법

In [17]:
file_csv = glob("data/store/*.csv")
file_csv

['data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202306.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202306.csv']

In [23]:
#pd.read_csv(file_csv[0]) 인코딩 필요유무 테스트
file_list = []
for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name)
    file_list.append(temp)

data/store\소상공인시장진흥공단_상가(상권)정보_강원_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_경기_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_경남_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_경북_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_광주_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_대구_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_대전_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_부산_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_서울_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_세종_202306.csv
data/store\소상공인시장진흥공단_상가(상권)정보_울산_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_인천_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_전남_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_전북_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_제주_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_충남_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

data/store\소상공인시장진흥공단_상가(상권)정보_충북_202306.csv

F:\Soma\temp\ipykernel_19232\2194613099.py:5: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(file_csv_name)

In [25]:
file_list[0]

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430826,에이치속눈썹수강아카데미,NaN,S2,수리·개인,S207,이용·미용,S20702,피부 관리실,S96113,...,4211039021110620001000001,NaN,강원특별자치도 춘천시 동내면 외솔길19번길 80-36,200883,24401,NaN,NaN,NaN,127.758764,37.857831
2,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
3,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 460,200200,24472,NaN,3,NaN,127.707653,37.867744
4,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98272,MA0101202307A0081821,삼G·S,NaN,G2,소매,G205,식료품 소매,G20506,채소/과일 소매업,G47215,...,4223025033101090000000001,도계라이온스회관,강원특별자치도 삼척시 도계읍 강원남부로 1339,245908,25947,NaN,2,NaN,129.041281,37.224591
98273,MA0101202307A0104754,소울법률부동산중개사무소,NaN,L1,부동산,L102,부동산 서비스,L10203,부동산 중개/대리업,L68221,...,4215011000117400003000001,NaN,강원특별자치도 강릉시 원대로 12-1,210924,25506,NaN,3,NaN,128.881950,37.755754
98274,MA0101202307A0009139,신리천로오구삼신리천로593,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4215025023110510002000001,NaN,강원특별자치도 강릉시 주문진읍 신리천로 593-111,210805,25402,NaN,NaN,NaN,128.770455,37.880750
98275,MA0101202307A0074433,더블레싱,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,4213010700108510026000001,NaN,강원특별자치도 원주시 우러리길 12-5,220942,26400,NaN,1,NaN,127.956211,37.314884
98276,MA0101202307A0007645,영월술샘,NaN,G2,소매,G204,종합 소매,G20404,슈퍼마켓,G47129,...,4275036021112540003007101,NaN,강원특별자치도 영월군 주천면 주천로58번길 41,230854,26203,NaN,NaN,NaN,128.268966,37.270819

In [29]:
df = pd.concat(file_list)

In [30]:
len(file_list)

17

In [28]:
df.shape

(2504940, 39)

In [33]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430826,에이치속눈썹수강아카데미,NaN,S2,수리·개인,S207,이용·미용,S20702,피부 관리실,S96113,...,4211039021110620001000001,NaN,강원특별자치도 춘천시 동내면 외솔길19번길 80-36,200883,24401,NaN,NaN,NaN,127.758764,37.857831
2,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
3,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 460,200200,24472,NaN,3,NaN,127.707653,37.867744
4,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189

In [35]:
df.info()  # 컬럼 데이타 타입 확인

<class 'pandas.core.frame.DataFrame'>
Index: 2504940 entries, 0 to 84703
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      float64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(9), int64(8), object(22)
memory usage: 764.4+ MB