# 튜플 자료형

**튜플 자료형의 정의**

In [ ]:

t1 = ()
t2 = (1.)
t3 = (1, 2, 3)
t4 = 1, 2, 3

print(t1,t2,t3,t4)

() 1.0 (1, 2, 3) (1, 2, 3)

**튜플 데이터 삭제를 시도한다면?**

In [ ]:
t1 = (1,2,'a','b')
del t1[0]   # 에러 발생!

TypeError: ignored

**튜플 값에 변경을 시도한다면?**

In [ ]:
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: ignored

**인덱싱 다루기**

In [ ]:
t1 = (1,2,'a','b')
t1[0]

1

**슬라이싱 하기**

In [ ]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

**튜플 더하기와 곱하기**

In [ ]:
t2 = (3, 4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

**튜플 길이 구하기**

In [ ]:
t1 = (1,2,'a','b')
len(t1)

4

**튜플을 적용하여 온라인 거래 명세서 만들기**

In [ ]:
transaction1001 = ("파이썬 코딩 길잡이", "데이터베이스론", "JAVA")
print("3월 1일 주문 송장 : ", transaction1001)

transaction1002 = ("요리비법", "영화평론", "헤리포터")
print("3월 15일 주문 송장 : ", transaction1002)

3월 1일 주문 송장 :  ('파이썬 코딩 길잡이', '데이터베이스론', 'JAVA')
3월 15일 주문 송장 :  ('요리비법', '영화평론', '헤리포터')

# 딕셔너리

**딕셔너리의 선언**

In [ ]:
dic = {'name':'pey', 'age':'25','birth':'0328'}
print(dic)
a = {1:'hi'}ㅏ
print(a)
b = {'a':[1,2,3]}
print(b)

{'name': 'pey', 'age': '25', 'birth': '0328'}
{1: 'hi'}
{'a': [1, 2, 3]}

**딕셔너리 쌍 추가하기**

In [ ]:
a = {1: 'a'}
a['a'] = 'b'
print(a)

a['name'] = 'pey'
print(a)

{1: 'a', 'a': 'b'}
{1: 'a', 'a': 'b', 'name': 'pey'}

**딕셔너리 key 값이 1인것을 찾아 삭제**

In [ ]:
del a[1]
print(a)

{'a': 'b', 'name': 'pey'}

**딕셔너리에서 key 를 사용해 value 얻기**

In [ ]:
score = {'pey':40, 'juliet':99}
print(score['pey'])

40

In [ ]:
score = {'pey': 40, 'juliet': 99, 'tom': 70}
print(score['pey'])
print(score['tom'])

40
70

**딕셔너리 관련 함수**

In [ ]:
a = {'name': 'pey', 'phone': '01022223333', 'birth':'1118'}     # key 만을 모아서 dict_keys 객체로 반환
print(a.keys())

b=list(a.keys())  # key를 모아서 리스트로 변환
print(b[0],b[1])

dict_keys(['name', 'phone', 'birth'])
name phone

In [ ]:
a.values()    # value 만을 모아서 dict_value 객체로 반환

dict_values(['pey', '01022223333', '1118'])

In [ ]:
a.items()     # key와 value 쌍을 튜플로 묶은 값을 모아서 idc_items 객체로 반환환

dict_items([('name', 'pey'), ('phone', '01022223333'), ('birth', '1118')])

In [ ]:
a.clear()     # 딕셔너리 요소를 모두 삭제.clear()     # 딕셔너리 요소를 모두 삭제
print(a)

{}

<strong> key 가 딕셔너리 안에 있는지 조사  
key가 딕셔너리 안에 존재하면 True, 존재하지 않으면 False를 반환 </strong>

In [ ]:
a = {'name': 'pey', 'phone': '01022223333', 'birth':'1118'}   

print('name' in a)

print('email' in a)

print('email' not in a)

True
False
True

**key 에 대응되는 value를 반환**

In [ ]:
print(a.get('name'))
print(a.get('phone'))

pey
01022223333

# 집합 자료형

**집합의 선언**

In [ ]:
s1 = set([1,2,3])
s1

{1, 2, 3}

**문자열을 입력하여 집합 선언**

In [ ]:
s1= set([1,2,3]) #리스트를 입력해서 집합만듬
print(s1)
s2 = set("Hello") # 문자열을 입력해서 집합만듬
print(s2)

{1, 2, 3}
{'e', 'H', 'o', 'l'}

In [ ]:
(s2 = set("apple")
s2

{'a', 'e', 'l', 'p'}

**집합 자료형의 연산**

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2)   # 교집합
print(s1 | s2)   # 합집합
print(s1 - s2)   # 차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

**집합 관련 함수**

In [ ]:
s1 = set([1, 2, 3])

s1.add(4)     # set 자료형에 요소 추가
print(s1)
s1.remove(2) # set 자료형에 요소 삭제
print(s1)
s1.update([5,6,7])   # set 자료형에 여러 요소 추가
print(s1)

{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4, 5, 6, 7}

# 불 자료형

In [ ]:
 a = True
 b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

**불 자료형은 데이터가 비어있는 변수에 0을 반환, 값이 있으면 1을 반환함**

In [ ]:
print(bool("python"))
print(bool(""))

True
False

# 실습예제

<strong> **텍스트 데이터 전처리**<br>다양한 데이터 소스로 부터 주소를 받아 표현할때 몇가지의 경우로 서울을 표현하는지 알아보기 </strong>

문자열 합치기

In [ ]:
addr1_str="서울시 서울특별시 seoul"
addr2_str="서울 Seoul 서울-특별시"
addr3_str= "서울 서울-시"

In [ ]:
addr_str = addr1_str +" "+ addr2_str + " " + addr3_str

In [ ]:
print(addr_str)   # 합친 문자 확인

addr_str=addr_str.lower()

print(addr_str)

서울시 서울특별시 seoul 서울 Seoul 서울-특별시 서울 서울-시
서울시 서울특별시 seoul 서울 seoul 서울-특별시 서울 서울-시

In [ ]:
addr_list=addr_str.split() #split함수는 분리후 리스트형으로 변환
print(addr_list)
print(addr_list[0])

len(addr_list)

print(set(addr_list)) #set 함수에 리스트를 넣어서 집합을 만듬 함수가 되었으므로 중복제거

['서울시', '서울특별시', 'seoul', '서울', 'seoul', '서울-특별시', '서울', '서울-시']
서울시
{'서울-특별시', '서울-시', '서울시', '서울', '서울특별시', 'seoul'}

In [ ]:
a = True
b = False
c= False
d = a or b and c
d

True

In [ ]:
count =6
while count:
    count -=2

In [ ]:
pin ="740225-1342128"
if pin[7] == '1':
    print('남성')

남성

In [ ]:
total = 0
total +=30
total -=20
total *=2
total

20

In [ ]:
a = "happy"
c=a[:4] #바로앞 3번까지
c

'happ'

In [ ]:
2+8**2/2

34.0

In [ ]:
a="100"
b="200"
a+b

'100200'

In [21]:
a=[2,4,6,8]
b=[num*3 for num in a if num%3 ==0]
b

[18]

In [ ]:
a = True
b = False
c = 0
if(a and b):
    if c:
        print('a')
    else:
        print('b')
else:
    if c:
        print('c')
    else:
        print('d')

d

In [ ]:
t1 = (1,2,3,4,5)
del t1[1]

TypeError: ignored

In [ ]:
a=[10,20,30,40,50]
a[-1]

50

In [ ]:
a ="person#@"
a = a.replace('#@','')
a

'person'

In [ ]:
a = "Life is too short, you need python"

if "wife" in a:
    print("wife")
elif "python" in a and "mou" in a:
    print("python")
elif "shirt" in a:
    print("need")
else:
    print("none")

none

In [ ]:
a =[1,2,3]
b =[4,5,6,7]

for i in a:
    for j in b:
        print("반복")

반복
반복
반복
반복
반복
반복
반복
반복
반복
반복
반복
반복

In [ ]:
for i in range(1,9):
    print("반복: %d"%i)

반복: 1
반복: 2
반복: 3
반복: 4
반복: 5
반복: 6
반복: 7
반복: 8