In [1]:
name ="Apple"
price = 5600
number = 7
print("{2},{1},{0}".format(number, name, price))

5600,Apple,7

In [12]:
test_list = ['치킨', '피자', '삼겹살', '족발이', '초밥집', '소주발']
print(test_list[1::2])

['피자', '족발이', '소주발']

In [13]:
for data in test_list[::2]:
    if len(data) ==3:
        print(data)

삼겹살
초밥집

In [8]:
string = "#You #only #Live #Once."
a = string.replace("#","")
print(a)

You only Live Once.

In [11]:
a, b, *c = (14, 21, 25, 39, 46, 57)
print(c)

[25, 39, 46, 57]

In [12]:
data_list = [0, 1, 2, 3, 4, 5]

def f(x):
    return x**5

[f(value) for value in data_list]

[0, 1, 32, 243, 1024, 3125]